@model Hermes.Models.EditExpenseViewModel
@{
    Layout = "_Layout";
}
<div class="main-content" style="max-width:600px;">
    <div class="card">
        <h3>Edit expense</h3>
        <br />
        <form asp-action="Edit" method="post" >
            @Html.AntiForgeryToken()
            @* <div class="form-group"><label>Source</label><input name="source" placeholder="Salary / Freelance" required>
            </div> *@
            <div class="form-group"><label asp-for="Description">Description</label><input asp-for="Description"
                                                                                           type="text" placeholder="e.g., Rent" required>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group"><label  asp-for="Amount">Amount ($)</label><input asp-for="Amount" type="number" step="0.01">
            <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group"><label asp-for="Date">Date</label><input asp-for="Date" type="date"max="@DateTime.UtcNow.ToString("yyyy-MM-dd")"x\></div>
            <!-- <div class="form-group"><label asp-for="CategoryId">CategoryID(debug)</label><input asp-for="CategoryId" type="number"></div> -->
            <span asp-validation-for="Date" class="text-danger"></span>
                        <div class="form-group">
                <label>Category</label>
                <select name="categoryId" class="form-control">

                    @if (ViewBag.Categories != null && ((IEnumerable<dynamic>)ViewBag.Categories).Any())
                    {
                        foreach (var category in ViewBag.Categories)
                        {
                            <option value="@category.Id" selected="@(category.Id == Model.CategoryId ? "selected" : null)">
                                @category.Name
                            </option>
                        }
                    }
                    else
                    {
                        <option disabled selected>
                            No Categories available
                        </option> 
                    }

                </select>
            </div>
            <div style="display:flex; gap:16px;">
                <button type="submit" class="btn">Update expense</button>
                <a asp-controller="Dashboard" asp-action="Index" class="btn-outline">Cancel</a>
            </div>
            
            @* <div asp-validation-summary="All"></div>s *@
        </form>
    </div>
</div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}   